@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Croissant+One&family=Inter&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter&family=Poppins:wght@300;400;600&display=swap');
/* font-family: 'Tiro Devanagari Marathi', serif; */
/* font-family: 'Croissant One', cursive; */
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;          /*1rem = 10px = 62.5%*/
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width:100%;
    height:100vh;
}

#container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

header{
    padding: 20px 5%;
}

/* ------------------- Nav Bar ------------------ */

header nav{
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo{
    width: 20rem;
    margin-top: 1rem;
    cursor: pointer;
}

header nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

header nav ul li a{
    color: #000;
    font-weight: 900;
    font-size: 1.9rem;
    position: relative;
}

header nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #000, rgb(255, 0, 255));
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all .5s;
}

nav ul li a:hover::after{
    width: 100%;
}

header nav ul .menu{
    font-size: 2.5rem;
    color: #fff;
    display: none;
    padding: .5rem;
    background-color: #000;
    cursor: pointer;
    transition: all .5s;
}

header nav ul .close{
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    left: 12%;
    top: 3%;
    padding: 1rem;
    border: 1px solid #fff;
    cursor: pointer;
    display: none;
}

/* ---------------------------- main ---------------------------- */
#container main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container main h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Croissant One', cursive;
    margin-top: 8%;
}

#container main p{
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
    font-family: 'Tiro Devanagari Marathi';
}

#container main .btn{
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: 1px solid #000;
    padding: .8rem 1.2rem;
    margin: 3rem .9rem;
    border-radius: 5px;
    outline: none;
    transition: all .3s;
}

#container main .btn:hover{
    box-shadow: 3px 3px 5px purple;
    background: transparent;
    color: #000;
}

#container main .contact-us{
    background: #000;
    color: #fff;
}

#container main .provide{
    margin-top: 0rem;
}

#container main .provide li{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: gray;
    line-height: 3rem;
}

/* ------------------------------- Marathi -------------------------------- */

#container main .marathi{
    display: flex;
    margin-top: 3rem;
}

#container main .marathi li{
    color: gray;
    font-weight: 500;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    list-style: circle;
    line-height: 3rem;
    font-family: 'Tiro Devanagari Marathi', serif;
}

/* --------------------------------- Footer -------------------------------- */

footer{
    width: 100%;
    height: 5rem;
    background-color: #000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: #fff;
    font-size: 1.3rem;
}


/* ----------------------------- Responsive -------------------------- */


@media (max-width:800px) {
    header nav{
        height: 50px;
    }
    header nav .logo{
        width: 15rem;
    }
    header nav ul {
        background: #000;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: all ease-in-out .5s;
    }
    header nav ul li{
        display: block;
        margin: 25px;
        font-weight: 600;
    }
    header nav ul li a{
        font-size: 1.4rem;
        color: #fff;
    }
    header nav ul .menu{
        display: block;
        font-size: 2rem;
        position: absolute;
        top: 35px;
        left: -55px;
        cursor: pointer;
    }


    #container main h1{
        font-size: 4rem;
        text-align: center;
    }
    #container main .btn{
        font-size: 1.4rem;
        padding: .6rem 1.2rem;
    }

    #container main .marathi{
        flex-direction: column;
        text-align: center;
    }
    #container main .marathi li{
        list-style: none;
    }

    footer{
        font-size: 1rem;
    }

}